body{
    background-color: rgb(98, 104, 216);
}
#page{
    width: 1200px;
    min-height: 1000px;
    background-color: #f10000;
    margin: 0 auto; 
}
#top{
    width: 1200px;
    min-height: 200px;
    background-color: aquamarine;
}
#navi{
    width: 1200px;
    min-height: 50px;
    background-color: rgb(39, 51, 231);
}
#content{
    width: 1200px;
    height: 800px;
    background-color: rgb(255, 111, 45);
}
.navButton{
    width: 299px;
    text-align: center;
    font-size: 16pt;
    height: 50px;
    text-transform: uppercase ;
    line-height: 2.4;
    background-color: rgb(255, 251, 0);
    color: #00a2ff;
    float: left;
    margin-right: 1px;
    
    
    
}
#button.navButton{
    background-color:rgb(48, 45, 255);
    
}
.navButton:hover{
    background-color: rgb(255, 255, 255);
    
}
ul{
    list-style: none;
    margin: 0px;
    margin-left: -40px;
}
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

svg {
	font-family: "Russo One", sans-serif;
	width: 100%; height: 100%;
}
/*Šeit rodas teksts*/
svg text {
	animation: stroke 5s infinite alternate;
	stroke-width: 2;
	stroke: #365FA0;
	font-size: 100px;
}
@keyframes stroke {
	0%   {
		fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1); }
	80%  {fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1); stroke-width: 3; }
	100% {
		fill: rgba(72,138,204,1); stroke: rgba(54,95,160,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}
a:visited{
    color: #ffffff
}
/*Formas pozicijas pozicionēšana */ 
.login{
    position: relative;
    width: 250px;
    height: 300px;
    background-color: #fff;
    margin: 0 auto;
    
    top:200px;
}
